.App {
  text-align: center;
}

.App-header {
  background-color: #04111c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  text-align: left;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #202225;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ddd;
  border: .05rem solid #ddd;
}

.btn-primary{
  background-color: #5e90ea;
  border-color: #5e90ea;
}

.popover{
  background-color: #181a1b;
  border-color: #8c827333;
  width: 21rem;
  max-width: 21rem;
}

.popover .arrow::after{
  border-color: #1e1f20;
}

.popover-header{
  background-color: rgb(29, 31, 32);
  border-bottom-color: #363a3c !important;
}

.popover-header::before{
  background-color: #1e1f20;
  border-bottom-color: #1e1f20 !important;
}

.popover-body {
  color: #d1cdc7;
}

/*
 * Base structure
 */

html,
body {
  color-scheme: dark !important;
  background-color: #202225;
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ddd;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5)
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.card {
  background-color: #34373a;
}

/* .list-group {
  color: #000;
} */


.fix-image {
    max-width: 25%;
    position: fixed;
    display: block;
}

.fix-image.right{
  right: 2%;
  margin-top: -2%;
}
.fix-image.left{
  left: 2%;
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.form-control {
  color: rgb(181, 175, 166);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.form-control:focus {
  color: rgb(181, 175, 166);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.form-control:disabled {
  color: rgb(181, 175, 166);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.input-group-text {
  color: rgb(181, 175, 166);
  background-color: rgb(35, 38, 39);
  border-color: rgb(60, 65, 68);
}

.input-group-text {
  color: rgb(181, 175, 166);
  background-color: rgb(35, 38, 39);
  border-color: rgb(60, 65, 68);
}

.list-group-item {
  background-color: rgb(24, 26, 27);
  border-color: rgba(140, 130, 115, 0.13);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: rgb(210, 206, 200);
  text-shadow: none;
  background-color: rgb(43, 47, 49);
  border-color: rgb(58, 62, 65);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


.transparent {
  background-color: transparent;
}

.transparent .list-group-item {
  background-color: transparent;
  color:white;
}

.blur {
  background-color: rgba(24, 26, 27, 0.2);
  color: rgb(232, 230, 227);
  z-index: 10;
  backdrop-filter: blur(10px);
  position: relative;
}